/OrderCare/.settings
/OrderCare/.cw.inuse.lock
/.settings
/Templates/AAWS/buildLibraryJar
/Templates/AAWS/.settings
/Templates/SIDOCSEntity/.settings
buildLibraryJar
/OpgeRereading/bin
/OrderCare/header_ConceptWaveMetadata.xml.BASE.xml
/OrderCare/header_ConceptWaveMetadata.xml.LOCAL.xml
/OrderCare/header_ConceptWaveMetadata.xml.REMOTE.xml
/Upgrade1.sql
/Catalog/activateProject.sql
/Catalog/exportedCatalogPasq21_03_2014.zip
prrev_*.xml