/*------------------------------------------------------------
		Skin Styles
------------------------------------------------------------*/
.tab,
.tabOver,
.tabSelected,
.tabSelectedOver,
.tabDown,
.tabSelectedDown,
.tabSelectedDisabled,
.tabDisabled {
    font-family:Arial,Verdana,sans-serif; font-size:11px;
}

.tabTitle,
.tabTitleDown,
.tabTitleOver,
.tabTitleDisabled,
.tabTitleSelected,
.tabTitleSelectedDown,
.tabTitleSelectedOver,
.tabTitleSelectedDisabled,
.vtabTitle,
.vtabTitleSelected,
.vtabTitleOver,
.vtabTitleDown,
.vtabTitleSelectedOver,
.vtabTitleSelectedDown,
.vtabTitleDisabled,
.vtabTitleSelectedDisabled {
    color: black;
    font-family:Arial,Verdana,sans-serif; font-size:11px;
    padding-bottom:1px;
}
.tabTitleOver,
.vtabTitleOver {
    color:#15428b;
}

.tabTitleSelected,
.vtabTitleSelected {
	color:black;
    font-weight:bold;
}

.tabTitleSelectedOver,
.vtabTitleSelectedOver {
	color:#15428b;
    font-weight:bold;
}


.tabTitleDisabled,
.tabTitleSelectedDisabled,
.vtabTitleDisabled,
.vtabTitleSelectedDisabled {
    color: #AAAAAA;
    padding-bottom:1px;
}

.labelAnchor,
.labelAnchorDisabled,
.labelAnchorError,
.labelAnchorFocused {
    font-family:Arial,Helvetica,sans-serif; font-size:11px;
    color:#003168;
}

.labelAnchorDisabled {
	font-family:Arial; color:#AAAAAA;
}

.formCell,
.formCellFocused,
.formCellDisabled {
    font-family:Arial,sans-serif; font-size:11px;
}

.formCellError{
	font-family:Arial,Helvetica,sans-serif; font-size:11px;
    color:black;
}

.formCellError{
	color: #F54753;
	font-family: Arial, Helvetica, sans-serif; font-size:9px;
	font-style: italic;
}

.fieldTitle,
.fieldTitleFocused,
.formTitle,
.formTitleFocused  {
	font-family:Arial,sans-serif; font-size:11px;
    color:#003168;
}

.fieldTitleDisabled,
.formTitleDisabled {
	color:#AAAAAA;
}
.formCellError,
.formTitleError { 
    font-weight:bold; color:#204268; 
}

.menuTable{
	background: none #ffffff;
	border: none;
	-webkit-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	margin: 0 10px 10px 1px;
}
.menuMain{
  background: none;
  border: none;
}

/*------------------------------------------------------------
		Application Styles
------------------------------------------------------------*/
.cwPageBackground{
	background-color:#FFFFFF;
}

.cwPageContentBackground{
	background-color:#ffffff;
}

.pageBackground{
    font-family:Arial, Helvetica, sans-serif; font-size:11px;
    color:#000000;
    /*background:#FFFFFF;*/
	/*margin: 0px;*/
	margin-top: 2px;
}

.cwPageContent {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 0px;
	background-color:#f0f0f0;	
}

.cwPageContentMenu {
	margin-left: 15px;
	margin-right: 15px;
	width: 100%;
	height: 1px;
}

.cwAppGradientHeader{
	background-image:none;
}

.cwAppMenu{
	background-image:url('images/ericsson/app_headerbg.png'); /*your location of the image may differ*/
	background-repeat: repeat-x;
	background-color: #DDDDDD;
	color:#CCCCCC;
	width:100%;
	height: 25px;
}

.cwTabMenu{
	background-color: #FFFFFF;
	color:#000000;
	font-family:Arial,Verdana,sans-serif; font-size:11px;
    padding-bottom:1px;
	width:100%;
	height: 25px;
}

.cwTabMenuMore{
	background:
	url('images/ericsson/a_only.png') center no-repeat;
	vertical-align:middle;
	background-color:#E0E0E0;
	border:1px solid #C0C0C0;
	margin:0;
	padding: 2px;
	text-align:center;
	-webkit-box-shadow:inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	-moz-box-shadow:inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	-ms-box-shadow:inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	box-shadow:inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-ms-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;	
}

.cwMenuSpacer{
	width: 10%;
}

.cwAppMenuLeft{
	height: 25px;
}

.cwAppSpecificMenu,.cwAppSpecificMenuOver,.cwAppSpecificMenuDown,.cwAppSpecificMenuFocused{
	color:#333333;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left:10px;
	padding-right:10px;
/*	text-transform: uppercase; /* force text to uppercase */
	text-align: center;
	vertical-align:middle;
	height: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.cwProjectLabel{
	color:#ffffff;
	/*font-weight:bold;*/
	font-size:12px;
	padding-left:10px;
	padding-right:10px;
	cursor: default;
}

.cwAppSpecificSeparator,.cwAppSpecificSeparatorDisabled{
	background-color: #ffffff;
}

.cwAppSpecificMenuDown,.cwAppSpecificMenuOver,.cwAppSpecificMenuFocused{
	background-color: #ffffff;
	border-bottom: 1px #ffffff;
	/*text-transform: uppercase; /* force text to uppercase */
  /*border-bottom: 1px solid #dfe0e0;*/
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.cwAppSpecificSubMenuDisabled{
	background-color: #CCCCCC;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);	
}

.cwAppSpecificSubMenu,.cwAppSpecificSubMenuOver,.cwAppSpecificSubMenuDown,
.cwAppSpecificSubMenuFocused .cwAppSpecificSubMenuDisabled{
	background-color: #ffffff;
	font-weight:normal;
	font-size:13px;
	font-family: Arial, Helvetica, sans-serif;
	color:#333333;
	cursor: pointer;
}

.cwAppSpecificSubMenuOver,.cwAppSpecificSubMenuDown,.cwAppSpecificSubMenuFocused{
	background-color: #DFE0E0; /*#e6f0f7;*/
}
/*
.cwAppSpecificSubMenu,.cwAppSpecificSubMenuOver,.cwAppSpecificSubMenuDown, .cwAppSpecificSubMenuDisabled{
	border-bottom: 1px solid #98d0f2;
}
*/
.cwAppGradientHeader{
	background-image:url('images/ericsson/header-gradient.png'); /*your location of the image may differ*/
	background-repeat: repeat-x;
}

.cwAppHeader{
	background-image:url('images/ericsson/app_headerbg.png'); /*your location of the image may differ*/
	background-position: 0 4px;
	background-repeat: repeat-x;
	/*border:1px solid #c8c8c8;*/
	padding-top: 4px;
	height: 30px;
	width: 100%;
	margin: 0px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: middle;
}


.cwAppHeaderMenu{
	font-size: 14px;
	color: #333333;
	font-family:Arial, Helvetica, sans-serif; 
}

.cwAppLabelWithLogo{
	/*text-transform: uppercase; /* force text to uppercase */
	background-image:url('images/ericsson/logo-with-text.png'); /*your location of the image may differ*/
	background-repeat:no-repeat;
	background-size:auto 60px;
	background-position:right center;
	padding: 25px;
	height: 100%;
	color: #202F58;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 20px;	
}

.cwAppHeaderBanner{
    background-color:#f0f0f0;
	padding-left: 20px;
	padding-right:20px;
	height: 75px;
	width: 100%;
}

.cwAppLabel{
	/*text-transform: uppercase; /* force text to uppercase */
    color: #202F58;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	height: 20px;
	background-image:url('images/ericsson/eric_logo.png'); /*your location of the image may differ*/
	background-repeat:no-repeat;
	background-position: left center;
	background-size: 15px 20px;
	text-indent: 28px;	
}

.cwHeaderSpacer{
	width: 75%;
}

.cwHeaderTopSpacer{
	height: 3px; 
}

.cwUserId{
	font-size: 14px;
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
	/*width: 150px;*/
	vertical-align: bottom;
}

.blueLinkBold {
   color:#0066CC;
   text-decoration:underline;
   font-family: Arial,Verdana,sans-serif;
   font-size: 11px;
   /*font-family:Arial;
   font-size:12px;
   font-weight:bold;*/
}

.defaultStyle{
   color: black;
   font-family: Arial,Verdana,sans-serif;
   font-size: 11px;
   font-weight:bold;
   background-color:#FFFFFF;
   height: 21px;
}


.blueStyle{
   color: black;
   font-family: Arial,Verdana,sans-serif;
   font-size: 11px;
   font-weight:bold;
   background-color:#48D1CC;
   height: 21px;
}


.redStyle{
   color: black;
   font-family: Arial,Verdana,sans-serif;
   font-size: 11px;
   font-weight:bold;
   background-color:#FF7F50;
   height: 21px;
}


.taskDate {
   color:Black;
   /*font-family:Arial;
   font-size:12px;
   font-weight:bold;*/
   font-family: Arial,Verdana,sans-serif;
   font-size: 11px;
}

.CgMenuBtnBlack {
color:Black;
cursor:pointer;
font-family: Arial,Verdana,sans-serif;
font-size: 11px;
/*font-size:9pt;
font-style:normal;
font-weight:bold;*/
padding:4px;
}

.CgMenuBtnBlackOver {
/*color:Red;*/
color:Black;
cursor:pointer;
font-family: Arial,Verdana,sans-serif;
font-size: 11px;
/*font-size:9pt;
font-style:normal;
font-weight:bold;*/
padding:4px;
}

/*------------------------------------------------------------
		Login Styles
------------------------------------------------------------*/

.cwLoginStyleGeneric{
	font-family: Ericsson Capital TT, Arial, Helvetica, sans-serif;
	background-image:url('images/ericsson/logo-with-text.png');
	background-repeat:no-repeat;
	background-position: 40px 40px ;
	border:14px solid #ededed;
	background-color:#fff;
	border-radius:20px;
	height: 650px;
	width: 675px;
	padding: 40px;
	-webkit-box-shadow: 0 0 10px 0 #8897B0;
	-moz-box-shadow: 0 0 10px 0 #8897B0;
	box-shadow: 0 0 10px 0 #8897B0;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 150px;
}
.cwLoginAppTitle {	
	font-family: Ericsson Capital TT, Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: normal;
	color: #000;
	word-wrap : break-word;
	text-align:left;
	vertical-align: bottom;
	width: 100%;
}

.cwLoginAppTerms {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	padding-top: 15px;/*50px;*/
	text-align:justify;
}
.cwLoginAppCopyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-align:justify;
}
.cwLoginAppversion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	/*width: 400px;*/
	text-align:justify;
}
.cwLoginAppmetadataversion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	/*width: 400px;*/
	text-align:justify;
}
.cwLoginApppowered {
	float: bottom;
	width: 800px;
	height: 75px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-image: url('images/powere_logo.png');
	background-repeat: no-repeat;
	background-position:right center;
}
.cwLoginApplogin_box {
	height: 500px;
	float: left;
}
.cwLoginBorder{
	border-bottom: 1px solid #E0DCDE;
	padding-bottom: 5px;
}
.cwLoginAppdetails {	
	width: 100%;
	margin-top: 175px;
	height: 300px;
	vertical-align: bottom;
}
.cwLoginGrid {
	width: 225px;
}
.cwLoginContainer{
	width:100%;
	height:100%;
	background-color: #eeeeee;
}
.cwLoginMenu{
	background-image: url(images/ericsson/arrow_right_active.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	border: 1px;
	display: block;
	padding: 0;
}

/*------------------------------------------------------------
		Status Message Styles
------------------------------------------------------------*/

.cwStatusFrame,
.cwStatusDialogFrame{
	width: 100%;
	/*height: 17px;*/
	padding: 0px;
	background: inherit;
}
.cwStatusLayout{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.cwModelStatusMenu,.cwModelStatusMenuDisabled{
	height: 15px;
	font-size: 10px;
	color: #1155CC;
	font-weight: regular;
    font-family:Arial, Helvetica, sans-serif; 
	padding-left:5px;
	text-decoration:underline;
}

.cwMessageIconLayout{
	height: 22px;
	width: 25%;
}

.cwMessageTextBox{
	padding-right: 10px;
	width: 75%;
}

.cwMessageTextStyle{
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
	vertical-align: middle;
}

.cwBottomMarginMessage{
	height: 10px;
}

/*------------------------------------------------------------
		UI Styles
------------------------------------------------------------*/
.cwFormDetailGradient, .cwFormDetailGradientTabInner, .cwLeftTreeGradient,.cwFormDetailRelationTabInner{
	/*background-image: url('images/new_frombg.png');
	background-repeat: repeat-x;*/
	background-color: #FFFFFF;
	/*border: 1px solid #c2c2c2;*/
}
.cwFormDetailBorder,.cwFormDetailBorderTabInner{
	border: 1px solid #c2c2c2;
}
.cwFormDetailGradientEmpty,
.cwFormDetailBorder,
.cwFormDetailGradient{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	/*padding doesn't work*/
	padding-top:0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.cwFormDetailGradientEmptyTabInner,
.cwFormDetailBorderTabInner,
.cwFormDetailGradientTabInner{
	margin-top: 4px;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-left: 7px;
	/*padding doesn't work*/
	padding-top:0px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
}

.cwLeftTreeLayout{
	height: 100%;
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.cwLeftTreeGradient{
	height: 100%;
	width: 180px;
/*	Doesn't work when dynamic style
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	*/
}

.cwBaseNavTreeVLayout{
	/*padding:15px;*/
	margin-left: 15px;
	width: 100%;
	height: 100%;	
    background-image: url('images/new_frombg.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;

}

.cwTopStackLayout{
	border-spacing: 1px;
	width: 100%;
}

.listGrid {
    border: 0px;
}

.cwResultGradient,.cwResultGradientTabInner, .cwResultGradientTabInnerWithMargin{
	/*background-image: url('images/new_frombg.png');
	background-repeat: repeat-x;*/
	background-color: #FFFFFF;
	/*border: 1px solid #c2c2c2;*/
	width: 100%;
}
.cwResultGradientEmpty{
	width: 100%;
}
.cwResultBorder,.cwResultBorderTabInner{
	/*border: 1px solid #c2c2c2;*/
	width: 100%;
}
.cwResultGradient,.cwResultGradientEmpty,.cwResultBorder{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px; /*15px*/
	padding-right: 0px;
	padding-bottom: 0px; /*10px*/
}
.cwResultGradientEmptyTabInner,.cwResultGradientTabInner,.cwResultBorderTabInner{
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 0px;
	margin-left: 7px;
/*	padding-top:5px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;	*/
}
.cwResultGradientTabInnerWithMargin{
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 5px;
	margin-left: 7px;
}

.cwResultBorderRulesetTabInner{
	/*border: 1px solid #c2c2c2;*/
	width: 100%;
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-left: 7px;	
}
.cwSearchGradient{
	/*background-image: url('images/new_frombg.png');
	background-repeat: repeat-x;
	border: 1px solid #c2c2c2;*/
	background-color: #FFFFFF;	
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px; /*15px*/
	padding-right: 0px;
	padding-bottom: 0px; /*10px*/
}

.cwBaseItemGradient{
	background-image: url('images/new_frombg.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	border: 1px solid #c2c2c2;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px; /*15px*/
	padding-right: 0px;
	padding-bottom: 0px; /*10px*/
}

.cwBaseItemMarginSpacer{
	height: 15px;
}

.cwBaseItemMenuLayout{
	width: 120px;
	height: 22px;
	padding-left: 7px;
}

.cwSearchFormLayout{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 100%;
}
.cwSearchFormGrid{
	vertical-align: middle;
}
.cwSearchFormVLLayout{
	margin-left: 5px;
}
.cwSearchMenuVLLayout{
	margin-left: 3px;
}
.cwSearchVLNoBorder{
	background-color: #FFFFFF;
}

.cwCollapseMenu,.cwClassicMenuDisabled{
	background-image: url('cwt/images/16/navigate_open.png'); 
	
}

.cwExpandMenu,.cwExpandMenuDisabled{
	background-image: url('cwt/images/16/navigate_close.png'); 
}

.cwCollapseMenu,.cwCollapseMenuDisabled,
.cwExpandMenu,.cwExpandMenuDisabled{
	background-repeat:no-repeat;
	background-position:center center;
	width:18px;	
	text-align:center;
	vertical-align:middle;	
	background-color: #F4F4F4;
	color:#ffffff;
	border: 1px solid #d9d9d9;
}
	
.cwFormDetailFrame{
	margin-left:10px;
	margin-right:10px;
}

.cwFormDetailGrid{
	vertical-align: middle;
	colWidths: 164px,164px,164px,164px,164px,164px;
}

.cwViewSeparator, .cwViewSeparatorDisabled{
	/*border-bottom: 1px solid;*/
	/*border-color: #ffffff;*/
	border-color: #c2c2c2;
	background-color:#53B0EA;
}

.cwLabelSpacer{
	width: 80%;
}

.cwSearchHeader{
	font-size: 14px;
	color: #000;
	font-weight: normal;
	vertical-align:bottom;
	font-family:Arial, Helvetica, sans-serif; 
	padding-top: 15px; /* 15px */
	padding-bottom: 10px;
	padding-left: 15px; /*17px;*/
}

.cwSecondaryDetailFormHeader{
	font-size: 14px;
	color: #000;
	font-weight: normal;
	vertical-align:bottom;
	font-family:Arial, Helvetica, sans-serif; 
	padding-top: 15px; /* 15px */
	padding-bottom: 10px;
	padding-left: 3px; /*17px;*/
}

.cwDetailFormHeader{
	font-size: 14px;
	color: #000;
	font-weight: normal;
	vertical-align:bottom;
	font-family:Arial, Helvetica, sans-serif; 
	padding-top: 5px; /* 15px */
	padding-bottom: 10px;
	padding-left: 15px; /*17px;*/
}

.cwMenusLayout{
	margin-left: 15px;
}

.cwCustomMenusLayout{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.cwActionButtons {
	colWidths: 70px;
	height: 28px;
}

.cwRemoveMenu,.cwRemoveMenuOver,.cwRemoveMenuDown,.cwRemoveMenuDisabled,
.cwCancelMenu,.cwCancelMenuOver,.cwCancelMenuDown,.cwCancelMenuDisabled,
.cwOKMenu,.cwOKMenuOver,.cwOKMenuDown,.cwOKMenuDisabled
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	background-color: #f4f4f4;
	text-align:left;
	padding-right: 5px;
	padding-left: 2px;
	border: 1px solid #d9d9d9;
	color: #444444;
	height: 22px; 
	cursor: pointer;
}

.cwSaveMenu,.cwSaveMenuOver,.cwSaveMenuDown,.cwSaveMenuDisabled,
.cwNewMenu,.cwNewMenuOver,.cwNewMenuDown,.cwNewMenuDisabled,
.cwActivateMenu,.cwActivateMenuOver,.cwActivateMenuDown,.cwActivateMenuDisabled{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	background-color: #f4f4f4;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid #d9d9d9;
	color: #444444;
	height: 22px; 
	cursor: pointer;
}

.cwShowMoreMenu,.cwShowMoreMenuOver,.cwShowMoreMenuDown,.cwShowMoreMenuDisabled{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	/*background-color: #ffffff;*/
	text-align: left;
	/*padding-right: 5px;*/
	padding-left: 3px;
	/*border: 1px solid #d9d9d9;*/
	color: #444444;
	height: 22px; 
	cursor: pointer;
}

.cwCopyMenu,.cwCopyMenuOver,.cwCopyMenuDown,.cwCopyMenuDisabled{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	background-color: #f4f4f4;
	text-align:center;
	padding-right: 5px;
	padding-left: 2px;
	border: 1px solid #d9d9d9;
	color: #444444;
	height: 22px; 
	cursor: pointer;
}

.cwFinderResultHeader{
	font-size: 14px;
	color: #000;
	font-weight: normal;
	vertical-align:bottom;
	font-family:Arial, Helvetica, sans-serif; 
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-top: 7px;
}

.cwFinderResultHeaderTabInner{
	font-size: 14px;
	color: #000;
	font-weight: normal;
	vertical-align:bottom;
	font-family:Arial, Helvetica, sans-serif; 
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-top: 7px;
}
.cwFinderResultHeaderItemTabInner{
	font-size: 14px;
	color: #000;
	font-weight: normal;
	vertical-align:bottom;
	font-family:Arial, Helvetica, sans-serif; 
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-top: 5px;
}
.cwSelectMenuFinder,.cwSelectMenuFinderOver,.cwSelectMenuFinderDown,.cwSelectMenuFinderDisabled{ 
	icon: '/cwt/images/16/table2_ok.png'; 
}

.cwRemoveMenuFinder,.cwRemoveMenuFinderDisabled,.cwRemoveMenuFinderDown,
.cwRemoveMenu,.cwRemoveMenuDisabled,.cwRemoveMenuDown{
	icon: '/cwt/images/16/delete2.png'; 
}

.cwEditMenuFinder,.cwEditMenuFinderDisabled,.cwEditMenuFinderDown{
	icon: '/cwt/images/16/edit.png'; 
}
.cwAddMenuFinder,.cwAddMenuFinderDown,.cwAddMenuFinderDisabled{
	icon: '/cwt/images/16/add2.png'; 
}

.cwExportMenu,.cwExportMenuOver,.cwExportMenuDown,.cwExportMenuDisabled{
	icon: '/cwt/images/16/document_up.png'; 
}

.cwImportMenu,.cwImportMenuOver,.cwImportMenuDown,.cwImportMenuDisabled{
	icon: '/cwt/images/16/document_into.png';
}

.cwSelectMenuFinder,.cwSelectMenuFinderOver,.cwSelectMenuFinderDown,.cwSelectMenuFinderDisabled,
.cwAddMenuFinder,.cwAddMenuFinderDown,.cwAddMenuFinderDisabled,
.cwEditMenuFinder,.cwEditMenuFinderDown,.cwEditMenuFinderDisabled,
.cwRemoveMenuFinder,.cwRemoveMenuFinderOver,.cwRemoveMenuFinderDown,.cwRemoveMenuFinderDisabled,
.cwNewFinderMenu,.cwNewFinderMenuOver,.cwNewFinderMenuDown,.cwNewFinderMenuDisabled,
.cwExportMenu,.cwExportMenuOver,.cwExportMenuDown,.cwExportMenuDisabled,
.cwImportMenu,.cwImportMenuOver,.cwImportMenuDown,.cwImportMenuDisabled,
.cwYesMenu,.cwYesMenuOver,.cwYesMenuDown,.cwYesMenuDisabled,
.cwNoMenu,.cwNoMenuOver,.cwNoMenuDown,.cwNoMenuDisabled
/*.cwCancelMenu,.cwCancelMenuOver,.cwCancelMenuDown,.cwCancelMenuDisabled,
.cwOKMenu,.cwOKMenuOver,.cwOKMenuDown,.cwOKMenuDisabled*/
{
/*	vertical-align:bottom;
	text-indent:20px;
	background-repeat:no-repeat;
	background-position:left center;*/
	padding-right: 15px;
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
	cursor: pointer;
}

.cwEditMenuFinderDisabled, .cwSelectMenuFinderDisabled, .cwAddMenuFinderDisabled, .cwRemoveMenuFinderDisabled,
.cwNewFinderMenuDisabled, .cwExportMenuDisabled,.cwImportMenuDisabled, .cwPreviousMenuDisabled, .cwNextMenuDisabled, .cwCancelBackMenuDisabled, .cwActivateMenuDisabled,.cwSaveMenuDisabled,
.cwYesMenuDisabled, .cwNoMenuDisabled,.cwCancelMenuDisabled,.cwOKMenuDisabled{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3999 0.3999 0.3999 0 0 0.3999 0.3999 0.3999 0 0 0.3999 0.3999 0.3999 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
	cursor: default;
}

.cwNewFinderMenuDown, .cwAddMenuFinderDown, .cwRemoveMenuFinderDown, .cwSelectMenuFinderDown, .cwEditMenuFinderDown,.cwExportMenuDown,.cwImportMenuDown, .cwOKMenuDown,.cwActivateMenuDown{
	color:#0d7dc1;
}

.cwExcelActionMenu{
	icon:'/cwf/excel.gif';
}

.cwCSVActionMenu{
	icon:'/cwfv/text_marked.png';
}

.cwXMLActionMenu{
	icon:'/cwfv/code.png';
}
.cwExcelActionMenu,.cwCSVActionMenu,.cwXMLActionMenu,
.cwExcelActionMenuOver,.cwCSVActionMenuOver,.cwXMLActionMenuOver,
.cwExcelActionMenuDown,.cwCSVActionMenuDown,.cwXMLActionMenuDown{
	background-color: #53b0ea;
	font-weight:bold;
	font-size:9px;
	color:#ffffff;
	cursor: pointer;
}

.cwExcelActionMenuOver,.cwCSVActionMenuOver,.cwXMLActionMenuOver{
	background-color: #000000;
}

.cwResultCustomMenuLayout{
	vertical-align: bottom;
}

.cwResultActionsLayout {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
}
.cwResultReservedActionsLayout{
	margin-left:15px;
	margin-right:13px;
	padding-top: 0px;
	width: 100%;
}
.cwResultReservedActionsLayoutTabInner{
	margin-left:7px;
	margin-right:5px;
	padding-top: 0px;
	width: 100%;
}
.cwPamJobResultLayout{
	margin-left:15px;
	margin-right:15px;
	margin-bottom:15px;
	padding-top: 0px;
	height: 250px;
	width: 100%;
}
.cwResultLayout{
	margin-left:15px;
	margin-right:15px;
	padding-top: 0px;
	height: 250px;
	width: 100%;
}
.cwResultLayoutTabInner{
	margin-left: 7px;
	margin-right: 7px;
	height: 250px;
	width: 100%;
}
.cwResultLayoutItemTabInner{
	margin-left: 5px;
	margin-right: 5px;
	height: 250px;
	width: 100%;
}
.cwResultPagingStyle{
	width: 100%;
	margin-left: 13px;
	margin-right: 15px;
}

.cwRowsPerPageElement{
	width: 50px;
}

.cwResultCountStyle,.cwRowsPerPageStyle,.cwRowsPerPageStyleFocused{
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
	font-weight: normal;
}

.cwResultCountStyle{
	width: 70px;
}

.cwMarginSpacer{
	width: 5px;
}

.cwBottomMargin{
	height: 5px;
}

.cwPreviousMenu ,.cwPreviousMenuDown,.cwPreviousMenuDisabled{
	icon:'/cwt/images/16/navigate_left.png'; 
}

.cwNextMenu,.cwNextMenuDown,.cwNextMenuDisabled{
	icon:'/cwt/images/16/navigate_right.png';
}

.cwPreviousMenu ,.cwPreviousMenuDisabled,
.cwNextMenu,.cwNextMenuDisabled{
/*	background-repeat:no-repeat;
	vertical-align:bottom;*/
	color:#0d7dc1;
	padding: 2px;
	font-family:Arial, Helvetica, sans-serif; font-size:10px;
}

.cwCancelBackMenu, .cwCancelBackMenuDisabled{
	padding: 2px;
	font-family:Arial, Helvetica, sans-serif; font-size:9px;
}

.cwNextMenuDown,.cwPreviousMenuDown{
/*	background-repeat:no-repeat;
	vertical-align:bottom;*/
	border-style:solid;
	border-width:1px;
}

.cwTabLayout{
	width: 100%;
}

.cwFormDetailFrameBaseItemTabbedOuter{
	width: 100%;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-top: 5px;
}

.cwFormDetailFrameTabbedOuter{
	width: 100%;
	padding-left:7px;
	padding-right:7px;
	padding-bottom:7px;
	/*height: 100%;*/
}
.cwFormDetailFrameTabInner{
	width: 100%;
	margin-left: 4px;
	margin-right: 4px;
}
.cwFormDetailFrameRatePlanOuter{
	/*border: 1px solid #c2c2c2;*/
	width: 100%;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:5px;
	margin-top: 5px;
	/*height: 100%;*/
}
.cwFormDetailFrameBaseItemOuter{
	/*border: 1px solid #c2c2c2;*/
	width: 100%;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-top: 0px;
	/*height: 100%;*/
}
.cwFormDetailTab{
	width: 100%;
}

.cwCancelBackMenu{
	icon:'/images/ericsson/arrow_left_active.png'; /*your location of the image may differ*/
}
.cwCancelBackMenuDisabled{
	icon:'/images/ericsson/arrow_left_gray.png'; /*your location of the image may differ*/
}

.cwTopVlayout{
	background-image: url('images/new_frombg.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	/*border: 1px solid #c2c2c2;*/
	margin-left: 10px;
	margin-right: 10px;
}

.cwFormVLLayout, .cwFormHLLayout{
	width: 100%;
}

.cwFormVLLayoutWithBorder{
	width: 100%;
	border: 1px solid #c2c2c2;
	margin-top: 5px;
	margin-left:5px;
	margin-right:5px;
}

.cwFormVLNoBorder{
	background-color: #FFFFFF;
	width: 100%;
	/*border: 1px solid #c2c2c2;*/
	/*margin-top: 5px;*/
	margin-left:5px;
	margin-right:5px;
}

.cwFormVLLayoutWithBorderAndMargin{
	width: 100%;
	border: 1px solid #c2c2c2;
	margin-top: 5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

.cwformVLGridLayoutNarrow{
	border: 1px solid #c2c2c2;
	margin-top: 5px;
	/*padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	margin-left:5px;
	margin-right:5px;*/
}

.cwLayoutWithMargin{
	margin-left:5px;
	margin-bottom:5px;
}

.cwLayoutWithLeftMargin{
	margin-left:10px;
	margin-bottom:5px;
}

.cwLayoutWithTopMargin{
	margin-left:5px;
	margin-bottom:5px;
	margin-top: 5px;
}

.cwLayoutWithTopOnlyMargin{
	margin-left:0px;
	margin-right: 0px;
	margin-bottom:0px;
	margin-top: 5px;
}

.cwLayoutNarrowWithMargin{
	margin-left:5px;
	margin-bottom:5px;
	margin-right: 5px;
	margin-top: 5px;
}

.cwformVLGridLayoutWithMargin{
	border: 1px solid #c2c2c2;
	/*padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;*/
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

.cwformVLGridLayoutWithMarginNoBorder{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}

.cwNoteStyle{
font-family:Arial, Helvetica, sans-serif; font-size:10px;
}

.cwDaCounterLayout{
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.cwDaCounterTextStyle{
	border: 1px solid #c2c2c2;
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
	text-indent: 7px;
}

.cwDaCounterTextStyleNoBorder{
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
	text-indent: 7px;
}

.cwTreeVLLayout, .cwTreeGrid{
	margin-top: 5px;
}

.cwTreeComponentGrid{
	margin-left: 10px;
}
.cwTreeComponentFormFrame{
	margin-bottom: 5px;
}

.cwTreeHLLayout{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.cwBaseNavTreeMenu{
	padding-top:10px;
	padding-bottom: 2px;
	margin-left: 15px;
	margin-right: 15px;
}

.cwTreeMenu{
	colWidths: 25px;
	padding-bottom: 2px;
	vertical-align: right;
}

.cwTreeAddMenu{
	icon:'/cwt/images/16/add2.png';
}

.cwTreeDeleteMenu{
	icon:'/cwt/images/16/delete2.png';
}

/********************************
	confirmation style
********************************/
.cwConfirmLayout{
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
	width: 400px;
}

.cwConfirmIconLayout{
	height: 50px;
	width: 50px;
	padding-right: 10px;
}

.cwConfirmTextLayout{
	height: 100%;
	width: 75%;
}
.cwConfirmMenuLayout{
	width: 100%;
}

/********************************
		Dialog Styles
********************************/

.cwCancelMenu,.cwCancelMenuOver,.cwCancelMenuDown,.cwCancelMenuDisabled  {
icon:'/cwt/images/16/delete.png'; /*your location of the image may differ*/
}
.cwOKMenu,.cwOKMenuOver,.cwOKMenuDown,.cwOKMenuDisabled  {
icon:'/cwt/images/16/ok.png'; /*your location of the image may differ*/
}
.cwYesMenu,.cwYesMenuOver,.cwYesMenuDown,.cwYeslMenuDisabled  {
icon:'/cwt/images/16/ok.png'; /*your location of the image may differ*/
}
.cwNoMenu,.cwNoMenuOver,.cwNoMenuDown,.cwNoMenuDisabled  {
icon:'/cwt/images/16/delete.png'; /*your location of the image may differ*/
}
.cwTextStyle{
font-family:Arial, Helvetica, sans-serif; font-size:11px;
}

/********************************
	status message style
********************************/

.cwConfirmMessage,.cwErrorMessage,.cwWarningMessage{
	padding: 0px;
	text-align: center;
	vertical-align:middle;
	width: 100%;
	border-radius: 3px;
}
.cwConfirmMessage{
	border: 2px solid #488339;
	color: #488339;
	background-color: #eef9eb;
}
.cwErrorMessage {
	border: 2px solid #FF2626;
	color: #840e00;
	background-color: #ffe7e7;
}
.cwWarningMessage {
	border: 2px solid #F2C779;
	color: #945F00;
	background-color: #FFF8C4;
}
.cwConfirmMessageText,.cwErrorMessageText,.cwWarningMessageText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	padding: 0px;
}
.cwConfirmMessageText{
	color: #488339;
}
.cwErrorMessageText{
	color: #840e00;
}
.cwWarningMessageText{
	color: #945F00;
}
.cwConfirmMenu{
	padding-right: 15px;
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
	cursor: pointer;
}

.fieldTitleDisabled,.fieldTitleDisabledError{
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
	color:#AAAAAA;
}

.cwColapseSectionMenu,.cwColapseSectionOver,.cwColapseSectionMenuDown,
.cwExpandSectionMenu,.cwExpandSectionOver,.cwExpandSectionMenuDown{
	/*font-weight:bold;*/
	font-size:11px;
	color:#000000;
	cursor: pointer;
}

.cwColapseSectionMenu{
	icon:'/cwt/images/16/navigate_open.png';
}

.cwExpandSectionMenu{
	icon:'/cwt/images/16/navigate_close.png';
}

.cwSectionNarrowBackground{
    background-image: url('images/gr-bg.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	height:25px; 
    border: 1px solid #D9D9D9;
	vertical-align: middle;
	margin-bottom: 5px;
}

.titleFieldMandatory, .titleFieldMandatoryFocused
{
    font-family:Arial, sans-serif;
	font-weight: bold;
    font-size: 11px;
    color: #003168;
}


.titleFieldMandatoryDisabled 
{
    font-family:Arial, sans-serif;
	font-weight: bold;
    font-size: 11px;
    color: #003168;
}



.cwExpressionLabel,.cwExpressionHighlight ,.cwExpressionLowlight{
    font-family: Arial,sans-serif;
    font-size: 11px;
}
.cwExpressionHighlight{
	color: red;
}
.cwExpressionLowlight{
	color: blue;
}

.cwExpressionHeader {
    background-color:#FFFFFF;
    border-left:1px solid rgb(246,247,249);
    border-right:1px solid rgb(200,204,207);
    font-family:Arial, Verdana, sans-serif; font-size:11px;
    padding-left:4px; padding-right:4px;
    color: black;
    background: url('/cwf/isomorphic/skins/Enterprise/images/ListGrid/headerSprite.png') repeat-x top left; 
    background-position: 0px -210px;
    border-bottom:1px solid #BAC2CD;	
}
.cwExpressionFormHeader{
	font-size: 14px;
	color: #000;
	font-weight: normal;
	vertical-align:bottom;
	font-family:Arial, Helvetica, sans-serif; 
	padding-top: 10px; /* 15px */
	padding-bottom: 10px;
	padding-left: 10px; /*17px;*/
}
.cwExpressionGradientLayout{
	background-image: url('images/new_frombg.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	border: 1px solid #c2c2c2;
}
.cwExpressionLayout{
	padding: 5px;	
}
.cwExpressionTableLayout{
	border-left: 1px solid #EDEDED;
	/*border-right: 1px solid #EDEDED;*/
}
.cwExpressionDynamicDocLayout{
	padding-left: 5px;
	padding-bottom: 10px;
	border-left: 1px solid #EDEDED;
}
.cwExpressionRow,.cwExpressionRowSelected,.cwExpressionRowDark{
/*	font-family:Arial,Verdana,sans-serif; font-size:11px; text-overflow:ellipsis;
	color:black;*/
    border-top: 1px solid #FAFAFA;
    border-bottom:1px solid #EDEDED; 
}
.cwExpressionRowSelected{
    background: none repeat scroll 0 0 #D9E4F6;
    border-bottom: 1px dotted #9FB7E9;
    border-top: 1px dotted #9FB7E9;
}
.cwExpressionRowDark{
    background-color:#fafafa;
}

/*******************
  Ericsson Styles
*******************/
.staticTextItem,
.staticTextItemDisabled,
.staticTextItemError
{
	border-radius: 3px;
	/*background-color: #FFFFFF;*/
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #333;
}

.fieldDisabled{
	border:1px solid #b2b2b2;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	color:#B2B2B2;
	background-color:rgba(0, 0, 0, 0.05);
	-webkit-box-shadow:inset 1px 1px 0 0 #cccccc;
	-moz-box-shadow:inset 1px 1px 0 0 #cccccc;
	-ms-box-shadow:inset 1px 1px 0 0 #cccccc;
	box-shadow:inset 1px 1px 0 0 #cccccc;
	text-indent: 2px;
	margin: 1px;
}
.textItem, .textItemFocused, .textItemDisabled, .textItemError, .textItemHint, 
.selectItemText, .selectItemTextError, .selectItemTextFocused, .selectItemTextDisabled, .selectItemTextHint {
	border:1px solid #999999;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 1px 1px 0 0 #cccccc;
	-moz-box-shadow:inset 1px 1px 0 0 #cccccc;
	-ms-box-shadow:inset 1px 1px 0 0 #cccccc;
	box-shadow:inset 1px 1px 0 0 #cccccc;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	margin: 1px;
	text-indent: 2px;
}

.textItemDisabled,.selectItemTextDisabled{
	color:#B2B2B2;
	border-color:#b2b2b2;
	background-color:rgba(0, 0, 0, 0.05);
	-webkit-box-shadow:inset 1px 1px 0 0 #cccccc;
	-moz-box-shadow:inset 1px 1px 0 0 #cccccc;
	-ms-box-shadow:inset 1px 1px 0 0 #cccccc;
	box-shadow:inset 1px 1px 0 0 #cccccc;  
}
.selectItemText, .selectItemTextError, .selectItemTextFocused, .selectItemTextDisabled {
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	-ms-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	margin: 1px 0 1px 1px;
	border: 1px 0 1px 1px solid #999999;
}
/*
this styling is CW*/
.button,
.buttonOver,
.buttonFocused,
.buttonFocusedOver,
.buttonDown,
.buttonFocusedDown,
.buttonSelected,
.buttonSelectedFocused,
.buttonSelectedDown,
.buttonSelectedFocusedDown,
.buttonSelectedOver,
.buttonSelectedFocusedOver,
.buttonDisabled,
.buttonSelectedDisabled ,
.buttonSelectedFocusedDisabled,
.buttonFocusedDisabled,
.cwNewSearchMenu,.cwNewSearchMenuOver,.cwNewSearchMenuDown,.cwNewSearchMenuDisabled,
.cwSearchMenu,.cwSearchMenuOver,.cwSearchMenuDown,.cwSearchMenuDisabled{
	vertical-align:middle;
	color:#333333;
	background-color:#ffffff;
	border:none;
	margin:0;
	font-size: 12px;
	text-align:center;
	cursor:pointer;
	-webkit-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	-ms-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
}


.button,
.buttonFocused,
.buttonSelected,
.buttonSelectedFocused,
.cwNewSearchMenu,.cwNewSearchMenuOver,.cwNewSearchMenuDown,.cwNewSearchMenuDisabled,
.cwSearchMenu,.cwSearchMenuOver,.cwSearchMenuDown,.cwSearchMenuDisabled{
	background-image:-moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
	background-image:-ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
	background-image:linear-gradient(top bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#16000000', GradientType=0);*/
}

.buttonOver,
.buttonFocusedOver,
.buttonSelectedOver,
.buttonSelectedFocusedOver,
.cwNewSearchMenuOver,
.cwSearchMenuOver{
    background-image:-moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
	background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
	background-image:-ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
	background-image:linear-gradient(top bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#26000000', GradientType=0);*/
}

.buttonDown,
.buttonFocusedDown,
.buttonSelectedDown,
.buttonSelectedFocusedDown,
.cwNewSearchMenuDown,
.cwSearchMenuDown{
    background-image:-moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
	background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
	background-image:-ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
	background-image:linear-gradient(top bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16000000', endColorstr='#00000000', GradientType=0);}*/
}

.buttonDisabled,
.buttonSelectedDisabled ,
.buttonSelectedFocusedDisabled,
.buttonFocusedDisabled,
.cwNewSearchMenuDisabled,
.cwSearchMenuDisabled{
	opacity:0.35;
	cursor:not-allowed;
	-ms-touch-action:none;
	touch-action:none;
}

.cweCollapsableHorizontalLeft,.cweCollapsableHorizontalRight ,.cweCollapsableVerticalDown,.cweCollapsableVerticalUp{
   background-image: url(images/ericsson/expand.png);
	background-repeat: no-repeat;
	background-position: center 9px;
  height: 20px;
  width: 20px;
  border: none;
  display: block;
  padding: 0;
}

.cweCollapsableHorizontalLeft{
background-position: 0px -20px;

}
.cweCollapsableHorizontalRight{
background-position: 0px 0px;
}
.cweCollapsableVerticalDown{
background-position: -0px -80px;
}
.cweCollapsableVerticalUp{
background-position: -0px -100px;
}

.sectionBackgroundBorder{
    background: #f4f4f4;
	border: 1px solid #A7ABB4;
	padding: 8px;
}
